%h1 Slogan Goes Here
%h2 #{link_to 'Web Application Development', '/web-application-development'}
%h2 #{link_to 'Web Design and Development', '/web-design-and-development'}
/%h2 #{link_to 'Portfolio Slogan', projects_path}
%h2 #{link_to 'Blog Slogan', posts_path}
