%h1 Blog
- @posts.each do |post|
  .post
    %h2.post-title #{ link_to post.title, post }
    .post-content #{post.content}

- if current_user_is_admin
  = button_to 'Add New Post', new_post_path, { method: :get }
