.span12
  %h1 Blog
- @posts.each do |post|
  .span12.post
    %h2.post-title #{ link_to post.title, post }
    .post-content #{post.content}

- if current_user
  .span12
    = button_to 'Add New Post', new_post_path, { method: :get }
