@import "bootstrap";

/* Global */
body {
  padding: 40px 35px 0
}

#main {
  margin-left: 40px;
}

#content {
  float: left;
}

.side-navigation {
  float: right;
}

/* Header */
#search {
  #query {
    @extend .search-query;
    width: 80%;
  }
}

/* Footer */
footer {
  margin-top: 35px;
  .non-link {
    margin-top: 9px;
  }
}

/* Forms */
.form-actions {
  background: none;
}

input[type='submit'] {
  @extend .btn;
}

