%footer
  %nav.navbar
    .navbar-inner
      %ul.nav
        %li #{link_to :Blog, posts_path}
      %ul.nav.pull-right
        - if current_user
          %li.non-link #{@current_user.email}
          %li #{link_to 'Log Out', log_out_path}
        - else
          %li #{link_to :Admin, admin_path}
